// USER VARIABLES SECTION

$accent: #FED100; // Accent Color
$fontsize: 18px; // Body Font Size
$bg-red: #FF352B;
$text: #333333;
$textdark: #000000; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$monsterrat: 'Montserrat', sans-serif;
$monsterratBold: 'Montserrat Bold', sans-serif;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    // font-display: swap; // Uncomment to initially display system fonts
    src: local($fname), url($furl) format('woff2');
  }
}
@include font('Montserrat', normal, 400, '../fonts/montserrat.woff2');
@include font('Montserrat Bold', normal, 700, '../fonts/montserratbold.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input, textarea {
  outline: none;
  &:focus:required:invalid { border-color: red }
  &:required:valid { border-color: green }
}

body {
  font-family: $monsterrat;
  font-size: $fontsize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  color: $text;
}

.h1, h1 {
  font-family: $monsterrat;
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 4px;
}

.h2, h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 1.3px;
}

.h3, h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.208;
  letter-spacing: 1px;
}

.h4, h4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.1em;
}

a {
  color: $text;
  font-family: $monsterrat;

  &:hover {
    color: $text;
    text-decoration: none;
  }
}

.btn {
  min-width: 250px;
  height: 50px;
  background-color: $accent;
  font-size: 20px;
  line-height: 1.2;
  outline: none;
  text-decoration: none;
  color: $text;
  cursor: pointer;
  border: 1px solid $accent;
}

.btn--red {
  height: 60px;
  min-width: 300px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-red;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid #F2F2F2;
    transition: all 0.3s;
    z-index: 1;
  }

  &:hover::before{
    border-color: $bg-red;
    transition: all 0.3s;
  }
}

.container {
  max-width: 1340px;
  padding: $grid-gutter-width*2 $grid-gutter-width;
  margin: 0 auto;
}

