@import 'config';
@import 'keyframes';


//*************HOME****************

.firstscreen {
  width: 100%;
  min-height: 650px;
  background-image: url('../images/src/bg1-home.png'), url('../images/src/bg-home.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 60% 100%, 86% 50%;
  background-color: $accent;

  &__container {
    padding-top: 0;
  }

  &__list {
    list-style: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 75px;

  }

  &__logo {
  }

  &__menu {
  }

  &__contact {
    font-size: 24px;
    line-height: 1.21;
  }

  &__body {
  }

  &__title {
    margin-top: $grid-gutter-width*3.5;
    margin-bottom: $grid-gutter-width*2;

    span {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: 1.5px;
    }
  }

  &__btn {
  }
}

.menu {

  &__list {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
  }

  &__item {

    &.active .menu__link::after{
      transform: translateX(-50%) scale(1);
      transition: all 0.3s;
    }
  }

  &__link {
    margin: 0 $grid-gutter-width;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 1px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -7px;
      width: 100%;
      height: 2px;
      transform: translateX(-50%) scale(0);
      transition: all 0.3s;
      background-color: $text;
    }

    &:hover::after{      
      transform: translateX(-50%) scale(1);
      transition: all 0.3s;
    }
    
  }
}

.list-fscreen {
  padding: 0;
  display: flex;
  margin-top: $grid-gutter-width*3.8;

  &__item {
    max-width: 160px;
    display: flex;
    font-size: 16px;
    line-height: 1.31;
    margin-right: $grid-gutter-width;

    img {
      max-height: 40px;
      margin-right: $grid-gutter-width/2;
    }
  }
}

#phone {
  bottom: 70px;
  right: 18.5%;
  position: fixed;
  z-index: 999;
}

.img-circle {
  background-color: rgba(61, 155, 233, 0.8);
  box-sizing: content-box;
}

.circlephone {
  box-sizing: content-box;
  border: 2px solid rgba(61, 155, 233, 0.8);
  width: 136px;
  height: 136px;
  bottom: -32px;
  right: -32px;
  position: absolute;
  border-radius: 100%;
  opacity: .5;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  transition: all 0.5s;
}

.circle-fill {
  box-sizing: content-box;
  background-color: rgba(61, 155, 233, 0.8);
  width: 100px;
  height: 100px;
  bottom: -14px;
  right: -14px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
}

.img-circle {
  box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 1px;
  right: 1px;
  position:absolute;
  border-radius: 100%;
  border: 2px solid transparent;
}

.img-circleblock {
  box-sizing: content-box;
  width: 72px;
  height: 72px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.img-circle:hover {
  opacity: .7
}

//**************stages****************

.stages {

  &__container {
    padding-top: $grid-gutter-width*4.7;
    padding-bottom: 0;
  }

  &__title {
    letter-spacing: 1.5px;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $grid-gutter-width*3.3;
  }

  &__item {
    flex: 0 0 40%;
    margin: 0 $grid-gutter-width*3;
    margin-bottom: $grid-gutter-width*3;
    padding-left: $grid-gutter-width*5;
    position: relative;

    span{
      position: absolute;
      top: 0;
      left: 0;
      font-size: 50px;
      line-height: 1.2;
      font-weight: 200;
    }

    p {
      font-size: 16px;
      line-height: 1.3;
      padding-top: $grid-gutter-width/2;
    }
  }
}

//******************Price***************

.price {

  &__container {
  }

  &__title {
    text-align: center;
  }

  &__body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $grid-gutter-width*2.2;
  }

  &__item {
  }
}
.item-price {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EBEBEB;
  margin: $grid-gutter-width/2;
  padding: $grid-gutter-width*4;

  &:nth-child(2) {
    border-color: $accent;
  }

  &__title {
  }

  &__list {
    list-style: none;
    margin-top: $grid-gutter-width*1.8;
    padding: 0;

    li {
      margin: $grid-gutter-width 0;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }

  &__price {
    margin: $grid-gutter-width 0;
    font-size: 30px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
  }

  &__btn {
    margin: $grid-gutter-width*2 0;
    margin-bottom: 0;
  }
}

//****************Cars*****************

.cars {

  &__container {
  }

  &__title {
    text-align: center;

    .h2 {
      margin-bottom: $grid-gutter-width;
    }
  }

  &__tabs {
  }
}
.tabs {
  display: flex;
  justify-content: center;
  margin-top: $grid-gutter-width*3;

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    border: 1px solid #EBEBEB;
    margin: 0 $grid-gutter-width/2;
    padding: 11px 0;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    box-sizing: border-box;
    transition: all 0.3s;

    &.active,  &:hover{
      border-color: $accent;
      transition: all 0.3s;
    }

  }

  &__container {
    margin: 0 auto;
    display: none;

    &:target {
      // display: block;
    }
    &:nth-child(4){
      // display: none;
    }
    &:nth-child(5){
      // display: none;
    }
  }

  &__wrap {
    // width: 100%;

    // &:nth-child(2) {
    //   display: none;
    // }
    // &:nth-child(3) {
    //   display: none;
    // }
  }

  &__boby {
  }
}
.slide {


  &__wrap {
    padding: $grid-gutter-width;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }


  &__text {
    width: 25%;
    margin: $grid-gutter-width*4 0;
    margin-right: $grid-gutter-width*4;
  }

  &__title {

  }

  &__list {
    margin-top: $grid-gutter-width*2;
    padding: 0;
    font-size: 16px;
    line-height: 1.31;
    list-style: none;

    li {
      margin: $grid-gutter-width*1.5 0;
      padding-left: $grid-gutter-width*1.5;
      background: url('../images/src/check.svg') no-repeat 0% 50%;
    }
  }

  &__img-wrap {
    width: 65%;
    margin-top: $grid-gutter-width*2;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.button-prev,
.button-next {
  height: 25px;
  width: 11px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 15;

  &:focus {
    outline: none;
  }
}

.button-prev {
  background: url('../images/src/chevron-left.svg') no-repeat;

  left: $grid-gutter-width*1.5;


}
.button-next {
  background: url('../images/src/chevron-right.svg') no-repeat;
  position: absolute;
  right: $grid-gutter-width*1.5;
}

//***************Reviews*************
.reviews {
  background-color: $accent;

  &__container {
  }

  &__title {
    text-align: center;
    margin-top: $grid-gutter-width*1.6;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__item {
    margin-top: $grid-gutter-width*3;
  }
}
.item-reviews {
  flex: 0 0 30%;
  font-size: 16px;
  line-height: 1.31;

  &__title {
  }

  &__date {
    font-size: 16px;
    line-height: 1.31;
  }

  &__stars {

    &::before {
      content: '★' '★' '★' '★' '★';
      font-size: 19px;
      line-height: 1;
      color: $bg-red;
    }
  }

  &__text {
    margin-top: $grid-gutter-width;
    letter-spacing: 1px;

    p {
      padding-bottom: $grid-gutter-width/2;
      // overflow : hidden;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      // -webkit-line-clamp: 6;
      // -webkit-box-orient: vertical;
    }

    a {
      text-decoration: underline;
      line-height: 1.3;
    }
  }

  &__footer {
    margin-top: $grid-gutter-width*3;
    margin-bottom: $grid-gutter-width*2.5;
    display: flex;
    justify-content: center;
  }
}

//**************Contact**************

.contacts {

    &__container {
    }

    &__form {
    }

    &__wrap-map {
      position: relative;
    }

    &__map {
      position: relative;
      margin-top: $grid-gutter-width*3.9;
      overflow: hidden;
      display: flex;
    }

    &__adress {
      position: absolute;
      left: 23%;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

.form-contact {
  margin-top: $grid-gutter-width*4;
  margin-left: $grid-gutter-width*7;

  span {
    // display: block;
  }

  input {
    border: none;
    border-bottom: 1px solid $text;
    width: 27%;
    margin-top: $grid-gutter-width*2 ;
    margin-right: $grid-gutter-width*3;
    font-size: 20px;
    height: 40px;

    &:focus::placeholder {
      opacity: 0;
      transition: all 0.3s;
    }
  }

    &__title {
    }

    &__body {
      display: flex;
    }

    &__btn-block {
      display: inline-flex;
      flex-direction: column;
      margin-top: $grid-gutter-width*1.5;
      font-size: 12px;

      input {
        height: 15px;
        width: 15px;
        margin: 0 $grid-gutter-width 0 0;
      }

      label {
        margin: 0;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      margin-top: $grid-gutter-width*0.7;
    }
    &__btn {
      font-size: 20px;
      line-height: 1.2;

      &.btn--red {
        min-width: 250px;
      }
    }
}

.adress{
  min-width: 368px;
  min-height: 326px;
  padding: $grid-gutter-width*2 $grid-gutter-width*1.75;
  background: #ffffff;
  z-index: 1000;

  &__logo {
    display: block;
    margin-bottom: $grid-gutter-width*2;
    line-height: 1;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    padding-left: $grid-gutter-width*1.5;
    background: url('../images/src/check-y.svg') no-repeat 0 50%;
    margin-bottom: $grid-gutter-width;
    font-size: 16px;
    line-height: 1.31;
    letter-spacing: 1px;
  }

  &__social {
    margin-top: $grid-gutter-width*2.4;

    &.social {
      justify-content: flex-end;
    }
  }
}
.social {
  display: flex;
  justify-content: center;

  &__item {
    display: inline-block;
    line-height: 1;

    &:not(:last-child) {
      margin-right: $grid-gutter-width*1.3;
    }
  }
}


//*************Footer**********************************

.footer {
  background: $accent;
  padding: $grid-gutter-width*3 0;

  &__container {
    display: flex;

  }

  &__col {
    flex: 0 0 25%;

    &:nth-child(3) {
      text-align: center;
      font-size: 20px;
    }

    &:nth-child(4) {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        white-space: nowrap;

        &:last-child {
          text-decoration: underline;
      }
    }
    }
  }

  &__logo {
  }

  &__police {
    display: block;
    margin-top: $grid-gutter-width*1.5;
    font-size: 16px;
  }

  &__nav {
    display: flex;
    justify-content: center;

  }

  &__social {
    margin-bottom: $grid-gutter-width*0.75;
  }

  &__mail {
    text-decoration: underline;
  }
}
.nav-footer {

  &__list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: $grid-gutter-width*0.5;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.3px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
      transition: all 0.3s;
    }
  }
}






